.login {
  height: 100vh;
}

.login label,
.login button {
  display: block;
}
.login label {
  margin-bottom: 0.5rem;
}
.login input {
  margin-bottom: 2rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(136, 136, 136);
  font-size: 1.1rem;
}
.login input:focus {
  outline: 1px solid black;
}
.login button {
  padding: 1rem 4rem;
  background-color: white;
  border: 1px solid rgb(136, 136, 136);
  font-size: 1.1rem;
  margin: 2rem auto;
  border-radius: 0.25rem;
}
.login button:hover {
  background-color: black;
  color: white;
}
section h2 {
  font-size: 40px;
  color: srgb(62, 60, 55);
}
