#image {
  display: none;
}

.editProfileSect {
  height: 100vh;

  text-align: center;
  display: flex;
  flex-direction: column;
}
h2 {
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.avatarProfile {
  border-radius: 50%;
}
form > input {
  gap: 2rem;
}

.articleEditProfile > form > button {
  margin-bottom: 1rem;
}

.articleEditProfile > button {
  margin-bottom: 1rem;
}

.pTimeEditProfile {
  margin-bottom: 2rem;
}

.usernameH2EditProfile {
  color: gold;
}
