.post {
  border: 1px solid rgb(136, 136, 136);
  padding: 1rem;
  width: 390px;
  background-color: white;
  text-align: center;
}

.post header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PostDateAuthor {
  color: grey;
  font-size: 11px;
}

.postText {
  text-align: left;
  margin-top: 1rem;
  color: black;
}

.post:hover {
  border: 1px solid black;
}

.post h3::first-letter,
.post p::first-letter {
  text-transform: capitalize;
}

.postUsername {
  color: orange;
  align-items: center;
  margin-right: 2rem;
  display: flex;
  gap: 5px;
}

.postPlace {
  font-size: 0.8rem;
  margin-left: 0.5rem;
  display: flex;
  text-transform: uppercase;
  font-style: italic;
  font-weight: normal;
  color: rgb(0, 0, 0);
}
.post header h3 {
  display: flex;
  align-items: center;
}
.post > div {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  align-items: center;
}

.PostVotes {
  display: flex;
  gap: 0.5rem;
}

.buttonVolver {
  margin-right: 1rem;
}
.avatarPost {
  border-radius: 50%;
  max-width: 45px;
  max-height: 45px;
  border: 2px solid;
}
