* {
  box-sizing: border-box;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 72px;
  width: 100%;
  padding: 0 20px;
  border-bottom: 1px solid black;
  background: rgb(54, 54, 54);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  z-index: 10;
  gap: 1rem;
  margin: 0 auto;
}

.fotoAvatarPeque {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  border: 2px solid;
}
.navicon:hover {
  border-radius: 50%;
  background-color: rgba(255, 181, 45, 0.9);
  color: black;
}

@media (width>=1250px) {
  .navbar {
    position: fixed;
    height: 90%;
    width: 150px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0;
    background-color: transparent;
  }
  .navicon {
    display: inline-block;
    align-items: center;
    padding: 15px 15px;
    font-size: 15px;
    background-color: rgba(54, 54, 54, 0.9);
    border-radius: 50%;
  }
}
