#root > nav {
  min-width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 40%);
  background-color: wheat;
  position: fixed;
  z-index: 100;
  float: left;
  bottom: 0;
  padding-bottom: 30px;
  text-align: center;
}
#root > nav > ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

article.post {
  max-width: 90%;
}

ul > li > a {
  max-width: 90%;
}
